<div class="container">
    <div class="row custom-row">
    <div class="col-md-12 custom-container1">
        <img src="{{ espacioData.imagen }}" alt="Imagen del espacioData" class="img-fluid">
    </div>
    <!-- Columna derecha para los detalles del espacioData -->
    <div class="col-md-12 custom-container2">
        <h2>{{ espacioData.nombre }}</h2>
        <p><strong>Localización:</strong> {{ espacioData.localizacion }}</p>
        <p><strong>Aforo:</strong> {{ espacioData.aforo }}</p>
        <p><strong>Contacto:</strong> {{ espacioData.contacto }}</p>
        <p><strong>Estado ID:</strong> {{ estado.nombre }}</p>
        <p><strong>Fecha:</strong> {{ espacioData.fecha }}</p>
    </div>
    </div>
</div>