<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./barra-navegacion.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Navbar</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <img class="logo" src="../../../assets/logo.png" alt="">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active custom-navlink" [routerLink]="['/']">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-navlink" [routerLink]="['/eventos']" routerLinkActive="router-link-active">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-navlink" [routerLink]="['/espacios']" routerLinkActive="router-link-active">Espacios</a>
                    </li>
                    <li *ngIf="usersService.isLogged()" class="nav-item">
                        <a class="nav-link custom-navlink" [routerLink]="['/admin']" routerLinkActive="router-link-active">Admin</a>
                    </li>
                </ul>
                <div class="btn-group dropstart custom-dropdown">
                    <button type="button" class="btn dropdown" data-bs-toggle="dropdown">
                        <i class="fas fa-user"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngIf="!usersService.isLogged()"><a class="dropdown-item custom-item" [routerLink]="['/login']" routerLinkActive="router-link-active">Iniciar Sesion</a></li>
                        <li *ngIf="usersService.isLogged()" (click)="logout()"><a class="dropdown-item custom-item" [routerLink]="['/login']" routerLinkActive="router-link-active"><i class="fa-solid fa-person-walking-arrow-right"></i> Salir</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Resto del contenido -->
</body>

</html>
